.App {
  text-align: center;
}
.Header {
  margin-left: 2.1875rem;
  margin-top: 1.5625rem;
}
.Button {
  top:0.9375rem;
  height: 2.625rem;
  margin-bottom: 1px;
  padding-left: 4px;
  padding-right: 5px;
  padding-top: 3px;
  width: 113px;
  font-weight: bold;
 }
#label {
  color: black;
}
.MuiInputLabel-root {
  margin-left: 0.33rem;
}
.MuiInput-root {
  border: 1.5px solid black;
  padding-top: 8px;
}
.Field {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: 2.1875rem;
  margin-top: 1.5625rem;
}
.Table  {
  border: 1px solid black;
  border-bottom: 1px solid black !important;
}
.Alerts {
  position: inherit;
  display: block;
  margin-top: -93px;
  margin-left: 1.25rem;
}
th {
  border-collapse: unset;
  width: 25px;
  height: 25px;
}
td {
  border-collapse: unset;
  width: 25px;
  height: 25px;
}
.MuiTableRow-root :hover {
  background-color: rgb(3,168,244);
}
.MuiTableRow-root :hover :active {
  background-color: rgb(255,255,255);
}
.MuiFormControl-root {
  width: 10.9375rem;
  margin-right: 12px;
}
.active {
  background-color: rgb(3,168,244);
}
